/* UI angle picker start
  Open Source : https://github.com/bgrins/ui.anglepicker
*/
html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:100%;
}

*:focus {
  outline: none;
}

table{
  border:none;
}
  
h1 {
  font-size: 22px;
  text-align: center;
  color:#757980;
}

h2 {
  font-size: 18px;
  text-align: center;
  color:#757980;
}

body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: Segoe UI;
  background-image: url('../img/solarmvp_background.jpg') ;
}

.success{
  border-left: 5px solid #31a94b;
  background-color: #31a94b;
}

.btnStandard{
  border:none;
  background-color: #31a94b;
  color:#1A1C2E;
  padding:10px;
}

.btnSelectFile{
  border:none;
  background-color: #DCB63C;
  color:#5A5F65;
  padding:10px;
}

.btnStandard:hover {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btnTransparent{
  border:none;
  background-color: transparent;
  color:#1A1C2E;
  padding:10px;
}

#app-footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  padding:2px;
  height:5vh;
  color:#757980;
  font-size: 14px;
  background-color:white;
}

.logo {
  width: 210px;
}

.container {
    margin: 0 auto;
    margin-top: 0px;
    min-height: 55px;
    /* text-align: center; */
    /*width: 800px;
    position:relative;*/
}
#logoutBtn {
  position: absolute;
  top:0px;
  right:10px;
}

em {
    position: absolute;
    right:0px;
    background: lightgreen;
    font-size: 10px;
    color: #2b2b2b;
    padding: 0px 0px;
    border-radius: 10px;
    align-content: center;
    display:-webkit-inline-flex;
    margin: 0px 0;
    font-style: normal;
    display: none;
}
.angle-container {
    /* background: lightblue; */
    display: -webkit-inline-flex;
    margin: 0px;
}

  /* UI angle picker end */
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }

  .controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  .controls:focus {
    border-color: #4d90fe;
  }
  .title {
    font-weight: bold;
  }
  #infowindow-content {
    display: none;
  }
  #map #infowindow-content {
    display: inline;
  }

#topButton {
  position: fixed;
  top: -4px;
  right: 10px;
}

#downloadBtn{
  position: fixed;
  top: -2px;
  right: 135px;
}

#backBtn{
  position: fixed;
  top: -2px;
  right: 80px;
}

.row{
  margin-top:12px;
  background-color: #fff;
  border-radius: 20px;
}

.form-group{
  margin-top:12px;
}

.col-sm-6{
 margin-bottom: 10px;
}

.readonly{
  background-color: #EEE;
}

.login {
  margin: 150px auto;
  width: 300px;
}
.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}
  
.app-title {
  text-align: center;
  color: #777;
}
  
.login-rm {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}
  
input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}
  
input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}
  
.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-family: 'Segoe UI';
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
  
.btn:hover {
  background-color: #2980B9;
}
  
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;  
}
  
#progress {
   width: 100%;
   background-color: #F7F7F7;
}

#progressBar {
  display:none;
  width: 1%;
  height: 30px;
  background-color: #3E88F3;
}