<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/ui.anglepicker.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script type="text/javascript" src="../static/javascript/vendor/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/javascript/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../static/javascript/vendor/jquery-ui-1.10.2.js"></script>
    <script type="text/javascript" src="../static/javascript/vendor//bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/javascript/ui.anglepicker.js"></script>
    <script type="text/javascript" src="../static/javascript/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdXNN5iv5yl77PGwZpG5GPjZk_epT_U5Y&libraries=places&callback=initMap"async defer></script>
    <title>OrxaGrid Solar MVP</title>
  </head>
  <body onload="makeQuarterDail()">
    <div id="app-header">
      <img src="../static/img/ORXA_Logo_Wordmark.png" class="logo"  alt="OrxaGrid"/><br/><br/>
    </div>
    <button type="button" id="logoutBtn" class="btnStandard" onclick="window.location.href='/logout' ">Logout</button>
    <p class="text-center"><em>Tip: If you hold shift, you can snap to 15 degree increments</em></p><br/>
    <div id="solarForm" class="container" >
      <div>
        <h4 style="font-size: 14px;">Welcome! Please fill below form and submit</h4>
      </div> 
      <div class="row align-items-start">
        <form action="/submit" method="post" enctype="multipart/form-data" style="background-color: #fff;"  >
          <div class="col-lg-6">
            <div class="form-group" style="display:none;">
                <label class="col control-label">PlaceID</label>
                <div class="col"><input name="placeID" id="placeID" type="text" value="0" /></div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Latitude</label>
              <div class="col-sm-6"><input name="lat" type="text" id="lat" value="0.00"  readonly class="readonly" />
                <p style="font-size:10px;font-weight: bold;">Pick Latitude from map</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Azimuth</label>
              <div class="col-sm-6"><input type="text" id="azimuth" name="azimuth" value="0" readonly class="readonly" />&nbsp;&nbsp; <br/>
                <p style="font-size:10px;font-weight: bold;">Pick an angle 0&deg; North to 180&deg; South</p>
              </div>  
              <span class="col-sm">
                <table   style="text-align: center;position:relative;top: 45px;">
                  <tr><td colspan="3" style="font-size:10px;font-weight: bold;">N</td></tr>
                  <tr><td style="font-size:10px;font-weight: bold; ">W</td>
                    <td>
                      <span class='container1' >
                        <span class='angle-container'>
                          <span id="anglepicker"></span>
                        </span>      
                      </td>
                      <td style="font-size:10px;font-weight:bold; ">E</td></tr>
                      <tr><td colspan="3" style="font-size:10px;font-weight: bold;">S</td></tr>
                  </table>
                </span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Cost per kWp</label>
              <div class="col-sm-6"><input name="cost_per_kWp" type="text" value="1840"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Export Price</label>
              <div class="col-sm-6"><input name="export_price" type="text" value="0.04"/></div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Roof Size (m^2)</label>
              <div class="col-sm-6"><input name="roof_size_m2" value="250" type="text"/></div>
            </div>
       
          </div> 
          <!-- column splits here -->
          <div class="col-lg-6">
            <div class="form-group">
              <label class="col-sm-4 control-label">Longitude</label>
              <div class="col-sm-6"><input name="lon" type="text" id="lon" value="0.00" readonly class="readonly" />
                <p style="font-size:10px;font-weight: bold;">Pick Longitude from map</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Roof Pitch (0-90&deg;)</label>
              <div class="col-sm-6"><input type="text" id="roofpitch" name="roofpitch" value="0" readonly class="readonly" />&nbsp;&nbsp;
                <br/><p style="font-size:10px;font-weight: bold;">Pick roof angle between 0&deg; to 90&deg;</p>
              </div>  
              <span class="col-sm">
              <table style="text-align: center;position:relative;top: 30px;" >
                <tr><td style="font-size:10px;font-weight: bold;position:relative; left:-10px;">90&deg;</td><td></td></tr>
                <tr>
                  <td>
                  <span class='container1'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='angle-container'>
                      <span id="anglepicker-counter" ></span>
                      <span class='log'></span>
                  </span>
                  </td><td style="font-size:10px;font-weight: bold; position:relative; left:-10px;top:40px;">0&deg;</td>
                </tr>
              </table>  
            </span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Import Cost</label>
              <div class="col-sm-6"><input name="import_cost" type="text" value="0.14"/></div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Expected Life (yrs)</label>
              <div class="col-sm-6"><input name="expected_life_yrs" type="text" value="20"/></div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Upload CSV File</label>
              <div class="col-sm-6"><input id="file" name="file" type="file" style="display:none;"   onchange="fileChanged()" />
                <input type="button" class="btnSelectFile" value="Select File" onclick="document.getElementById('file').click();" 
                />
                <p id="uploadedFileName"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"></label>
              <div class="col-sm-6"></div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <label class="col-sm-4 control-label"></label>
              <!-- <div class="col-sm-6"><input id="submitBtn" type="submit" value="Submit" class="btnStandard" onclick="$('#loading').show();"> -->
              <div class="col-lg"><input id="submitBtn" type="submit" name="call_api" value="Submit" class="btnStandard" onclick="showProgress();">

              <!-- <div class="col-lg"><input id="submitBtn" type="submit" name="debug_api" value="Debug"> -->

               <p></p>
                <div id="progress">
                  <div id="progressBar"></div>
                </div>               
                <!-- <button id="loading" class="btnTransparent" type="button" disabled style="display:none;">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button> -->
                
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <p></p>
      <!-- Map Related -->
      </div> <!--skeptic div close -->
      <div id="map"></div>
      <div style="display: none">
          <input id="pac-input" class="controls" type="text"  placeholder="Enter a location">
      </div>
      <div id="infowindow-content">
        <span id="place-name"  class="title"></span><br>
        <strong>Place ID</strong>: <span id="place-id"></span><br>
        <span id="place-address"></span>
      </div>

      <div id="app-footer">
        <strong>&copy; 2017-2020 Copyright. <a href="http://www.orxagrid.com/"> Orxa Grid </a></strong>All rights reserved.
      </div>                         

    </body>
</html>